@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
*{
    box-sizing: border-box;
}
*body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

button{
    background-color: #39D332;
    color: white;
    font-family: 'Silkscreen',serif;
    font-size: 15px;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    padding: 10px 25px;
}


.modal-container{
    opacity: 0;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
.show{
    pointer-events: auto;
    opacity: 1;
}

.modal{
    background-image: url('../img/Página_CPCSIRT_1.png');
    background-size:cover;
    /*background-color: white;*/
    width: 100vh;
    max-width: 100%;
    padding: 50px 100px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
}
.modal input{
    width: 100%;
    opacity: 0.5;
    border-radius: 5px;
}

.modal textarea{
    opacity: 0.5;
    width: 100%;
    border-radius: 5px;
}

.modal ::placeholder{
    text-align: center;
}

.modal h1{
    margin: 0;
    color: white;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 15px;
}

#close{
    background-color: red;
    font-size: 15px;
    padding: 8px 8px;
    margin-top: 20px;
}
